@use '../../sass/style.scss' as *;

.user-manage {
    &__search {
        margin-bottom: 50px;

        // &:hover &__list {
        //     display: flex;
        // }

        &__list {
            display: none;
            background-color: $background-2;
            width: 100%;
            top: 100%;
            left: 0;
            &__item {
                transition: all 0.3s 0s ease;
                &__image {
                    @include square-div-with-background();
                }
                &:hover {
                    background-color: $background;
                }
            }
        }
    }
    &__add {
        &__close {
            transform: translate(-16px, 10px);
        }
    }
    &__table {
        &__body {
            &__row {
                &__data {
                    &__img {
                        @include square-div-with-background();
                        height: 60px;
                    }
                }
            }
        }
    }
}
