@use '../../sass/style.scss' as *;
.dashboard {
    &__cards {
        &__item {
            // width: 22%;
            // width: 24%;
            // margin: 20px;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: $box-shadow;
            &__user.card {
                background-color: #321fdb;
            }
            &__product.card {
                background-color: #39f;
            }
            &__order.card {
                background-color: #f9b115;
            }
            &__income.card {
                background-color: #e55353;
            }
            &__monthly-statistic.card {
                background-color: #9ccc65;
            }

            &__count {
                &__percent {
                    font-size: 12px;
                    top: 20%;
                    left: calc(50% + 20px);
                }
            }
        }
    }
}
